<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to nevomon.com over HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://nevomon.com/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:4060/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:4129/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="503" subStatusCode="-1" />
            <remove statusCode="504" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="500" path="/errorPages/500.htm" responseMode="File" />
            <error statusCode="502" path="/errorPages/500.htm" responseMode="File" />
            <error statusCode="503" path="/errorPages/500.htm" responseMode="File" />
            <error statusCode="504" path="/errorPages/500.htm" responseMode="File" />
            <error statusCode="404" path="https://nevomon.com" responseMode="Redirect" />
	</httpErrors>
    </system.webServer>
</configuration>